<table width="100%">
    <col style="width:45%" />
    <thead>
        <tr>
            <th>Location</th>
            <th>Current</th>
            <th>Total</th>
            <th>Percent</th>
        </tr>
    </thead>
    <tbody>
        {{#each limbs as |limb key|}}
        {{#unless limb.disabled}}
        {{#if limb.condition}}
        <tr class="align-center">
            <td class="align-left">{{localize limb.label}}</td>
            <td>
                <input type="number" name="data.resources.hp.limbs.{{key}}.condition.value"
                    value="{{limb.condition.value}}" data-dtype="Number">
            </td>
            <td>
                <input type="number" name="data.resources.hp.limbs.{{key}}.condition.max" value="{{limb.condition.max}}"
                    data-dtype="Number" disabled>
            </td>
            <td>
                <div> {{numberFormat limb.condition.percent decimals=0 sign=false}}% </div>
            </td>
        </tr>
        {{else}}
        {{#each limb as |sublimb sublimbKey|}}
        <tr class="align-center">
            <td class="align-left">{{localize sublimb.label}}</td>
            <td>
                <input type="number" name="data.resources.hp.limbs.{{key}}.{{sublimbKey}}.condition.value"
                    value="{{sublimb.condition.value}}" data-dtype="Number">
            </td>
            <td>
                <input type="number" name="data.resources.hp.limbs.{{key}}.{{sublimbKey}}.condition.max" value="{{sublimb.condition.max}}"
                    data-dtype="Number" disabled>
            </td>
            <td>
                <div> {{numberFormat sublimb.condition.percent decimals=0 sign=false}}% </div>
            </td>
        </tr>
        {{/each}}
        {{/if}}
        {{/unless}}
        {{/each}}
    </tbody>
</table>