<ol class="items-list">
  {{#each perks as |perks perkType|}}
  <li class="item flexrow items-header">
    <div class="item-name">{{localize perks.label}}</div>
    <div class="item-controls">
      <a class="item-control item-create" title="Create item" data-type="perk" data-subtype="{{perkType}}"><i
          class="fas fa-plus"></i> {{localize "FOE.Add"}}</a>
    </div>
  </li>
  {{#each perks.content as |perk id|}}
  <li class="item flexrow" data-item-id="{{perk._id}}">
    <div class="item-name flexrow">
      <div class="item-image">
        <a class="rollable" data-roll-type="item"><img src="{{perk.img}}" title="{{perk.name}}" width="24"
            height="24" /></a>
      </div>
      <h4>{{perk.name}}</h4>
    </div>
    <div class="item-controls">
      <a class="item-control item-edit" title="Edit Perk"><i class="fas fa-edit"></i></a>
      <a class="item-control item-delete" title="Delete Perk"><i class="fas fa-trash"></i></a>
    </div>
  </li>
  {{/each}}
  {{/each}}
</ol>
