{{#each equippable.weapon as |slot idx|}}
<div class="vital-block">
    <div class="flexlarge flexrow resource-label" data-item-id="{{slot.item}}">
        <div>
            {{localize slot.label}}
        </div>
        <div class="flexlarge rollable resource-label" data-roll-type="weapon" data-roll-subtype="attack"
            data-item-id="{{slot.item}}">
            &nbsp;({{localize "FOE.Attack"}})
        </div>
        <div class="flexlarge resource-label flexrow">
            <div class="rollable" data-roll-type="weapon" data-roll-subtype="damage" data-item-id="{{slot.item}}">
                ({{localize "FOE.Damage"}}
            </div>
            <div class="rollable" data-roll-type="weapon" data-roll-subtype="damage" data-crit="true"
                data-item-id="{{slot.item}}">
                {{localize "FOE.CritDamage"}})
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "FOE.PickWeapon"}}</label>
        <select class="equipped-form" data-index="{{idx}}" value="{{slot.item}}">
            {{selectOptions slot.options selected=slot.item}}
        </select>
    </div>
    {{#if slot.equippedItem}}
    <div class="item flexrow items-header flex-group-left">
        <div class="item-damage">{{localize "FOE.Damage"}}</div>
        <div class="item-range">{{localize "FOE.Range"}}</div>
        <div class="item-cost">{{localize "FOE.APCost"}}</div>
        <div class="item-firerate">{{localize "FOE.RateOfFireShort"}}</div>
        <div class="item-condition">{{localize "FOE.Condition"}}</div>
    </div>
    <div class="item flexrow align-left">
        <div class="item-damage">{{damageString slot.equippedItem}}</div>
        <div class="item-range">{{slot.equippedItem.data.range}}</div>
        <div class="item-cost">{{slot.equippedItem.data.cost}}</div>
        <div class="item-firerate">{{slot.equippedItem.data.firerate}}</div>
        <input type="number" data-dtype="Number" class="item-condition" data-item-id="{{slot.equippedItem._id}}"
            value="{{slot.equippedItem.data.condition}}" />
    </div>
    <hr />
    <div class="flexlarge resource-label">{{localize "FOE.Ammunition"}}&nbsp;<span class="reload-button"
            data-slot-id="{{idx}}">({{localize
            "FOE.Reload"}})</span></div>
    <div class="item flexrow items-header flex-group-left">
        <div class="item-ammo-caliber">{{localize "FOE.Caliber"}}</div>
        <div class="item-ammo-type">{{localize "FOE.Subtype"}}</div>
        <div class="item-ammo-current">{{localize "FOE.Current"}}</div>
        <div class="item-ammo-max">{{localize "FOE.Total"}}</div>
    </div>
    <div class="item flexrow flex-group-left">
        <div class="item-ammo-caliber">{{slot.equippedItem.data.ammo.type}}</div>
        <div class="item-ammo-type">{{slot.loadedAmmo.data.data.subtype}}</div>
        <div class="item-ammo-current">
            <input class="item-ammo-current" type="number" data-dtype="Number" data-slot-id="{{idx}}"
                value="{{slot.equippedItem.data.ammo.capacity.value}}" />
        </div>
        <div class="item-ammo-max">{{slot.equippedItem.data.ammo.capacity.max}}</div>
    </div>
    {{/if}}
</div>

{{/each}}