<div class="flexrow">
    <div class="movement">
        <div class="movement vital-block">
            <table>
                <thead>
                    <tr>
                        <th>{{localize "FOE.MovementAction"}}</th>
                        <th>{{localize "FOE.FeetShort"}}</th>
                        <th>{{localize "FOE.YardsShort"}}</th>
                        <th>{{localize "FOE.Cost"}}</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each movementTypes as |type key|}}
                    <tr>
                        <td class="clickable action" data-yds="{{type.valYds}}" data-action-type="movement"
                            data-label="{{type.name}}" data-cost="{{type.apCost}}">{{type.name}}</td>
                        <td class="align-center">{{type.valFt}}</td>
                        <td class="align-center">{{type.valYds}}</td>
                        <td class="align-right">{{type.apCost}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div>
            <h3>{{localize "FOE.TimeRelated"}}</h3>
            <div class="clickable time-clickable" data-action-type="sleep">{{localize "FOE.ActionSleep"}}</div>
            <div class="clickable time-clickable" data-action-type="timeskip">{{localize "FOE.ActionPassTime"}}</div>
            <div class="clickable time-clickable" data-action-type="nextTurn">{{localize "FOE.ActionNextTurn"}}</div>
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>{{localize "FOE.MagicSpellName"}}</th>
                        <th>{{localize "FOE.MagicArcaneSpellLevel"}}</th>
                        <th>{{localize "FOE.APCost"}}</th>
                        <th>{{localize "FOE.Cost"}}</th>
                    </tr>
                </thead>
                <tbody>
                    {{#with magic.spell}}
                    {{#each content as |spell idx|}}
                    {{#each spell.data.levels as |level levelKey|}}
                    {{#if level.enabled}}
                    {{#if (lookup ../../../data.spellCasting.arcane levelKey)}}
                    <tr>
                        <td class="clickable spell-clickable" data-spell-id="{{spell._id}}" data-level="{{levelKey}}">
                            {{spell.name}}
                            {{#unless level.learned}}
                            ({{localize "FOE.Unlearned"}})
                            {{/unless}}
                        </td>
                        <td>
                            {{localize (lookup ../../levelsDict levelKey)}}
                        </td>
                        <td>
                            {{level.apCost}}
                        </td>
                        <td>
                            {{level.strainCost}}
                        </td>
                    </tr>
                    {{/if}}
                    {{/if}}
                    {{/each}}
                    {{/each}}
                    {{/with}}
                </tbody>
            </table>

        </div>
    </div>
    <div class="flexcol">
        {{> "systems/foe/templates/actor/parts/actor-equipped.html"}}
    </div>
</div>