<div class="grid-2col">
        {{#each data.skills as |skill key|}}
        <div class="skill flexrow align-left">
            <label for="data.skills.{{key}}.value" class="resource-label rollable flexlarge" data-roll-type="skill"
                data-roll-skill="{{key}}" data-label="{{skill.label}}">{{skill.label}}</label>
            <input type="text" name="data.skills.{{key}}.value" value="{{skill.value}}" data-dtype="Number" />
            <div>
                &nbsp;({{skill.tot}})
            </div>
            <!-- <span class="ability-mod rollable" data-roll="d20+@abilities.{{key}}.mod" data-label="{{ability.label}}">{{numberFormat ability.mod decimals=0 sign=true}}</span> -->
        </div>
        {{/each}}
</div>