<div class="flexrow">
    <div class="movement vital-block">
        <table>
            <thead>
                <tr>
                    <th>{{localize "FOE.MovementAction"}}</th>
                    <th>{{localize "FOE.FeetShort"}}</th>
                    <th>{{localize "FOE.YardsShort"}}</th>
                    <th>{{localize "FOE.Cost"}}</th>
                </tr>
            </thead>
            <tbody>
                {{#each movementTypes as |type key|}}
                <tr>
                    <td class="clickable action" data-yds="{{type.valYds}}" data-action-type="movement"
                        data-label="{{type.name}}" data-cost="{{type.apCost}}">{{type.name}}</td>
                    <td class="align-center">{{type.valFt}}</td>
                    <td class="align-center">{{type.valYds}}</td>
                    <td class="align-right">{{type.apCost}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <div>
            <div class="clickable time" data-action-type="sleep">{{localize "FOE.ActionSleep"}}</div>
            <div class="clickable time" data-action-type="timeskip">{{localize "FOE.ActionPassTime"}}</div>
        </div>
    </div>
    <div class="flexcol">
        {{> "systems/foe/templates/actor/parts/actor-equipped.html"}}
    </div>
</div>