<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns. --}}
      <div class="resources grid grid-3col">

        {{!-- "flex-group-center" is also defined in the _grid.scss file
        and it will add a small amount of padding, a border, and will
        center all of its child elements content and text. --}}
        <div class="resource flex-group-center">
          <label for="data.resources.hp.value" class="resource-label">Health</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="number" name="data.resources.hp.value" value="{{data.resources.hp.value}}"
              data-dtype="Number" />
            <span> / </span>
            <input disabled type="text" name="data.resources.hp.max" value="{{data.resources.hp.max}}"
              data-dtype="Number" />
            <span class="hp-percent">&nbsp;({{numberFormat data.hp.percent decimals=0 sign=false}}%)</span>
          </div>
        </div>

        {{!--
        <div class="resource flex-group-center">
          <label for="data.attributes.level.value" class="resource-label">Level</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="data.attributes.level.value" value="{{data.attributes.level.value}}"
              data-dtype="Number" />
          </div>
        </div>
        --}}
        <div class="resource flex-group-center">
          <label for="data.resources.ap.value" class="resource-label">AP</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="number" name="data.resources.ap.value" value="{{data.ap.value}}" data-dtype="Number" />
            <span>&nbsp;/&nbsp;</span>
            <input disabled type="number" name="data.resources.ap.max" value="{{data.ap.max}}" data-dtype="Number" />
          </div>
        </div>
        <div class="resource flex-group-center">
          <label for="data.strain.value" class="resource-label">Strain</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="number" name="data.resources.strain.value" value="{{data.strain.value}}" data-dtype="Number" />
            <span> / </span>
            <input disabled type="number" name="data.resources.strain.max" value="{{data.strain.max}}"
              data-dtype="Number" />
          </div>
        </div>


      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="vital">Vital</a>
    <a class="item" data-tab="skills">Skills</a>
    <a class="item" data-tab="perks-traits">Perks &amp; Traits</a>
    <a class="item" data-tab="inventory">Inventory</a>
    <a class="item" data-tab="magic">Magic</a>
    <!--& effects-->
    <a class="item" data-tab="misc">Miscellaneous</a>
    <a class="item" data-tab="bonuses">Bonuses</a>
    <a class="item" data-tab="biography">Biography</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    <div class="tab bonuses" data-group="primary" data-tab="bonuses">
      {{> "systems/foe/templates/actor/parts/actor-bonuses.html"}}
    </div>
    {{!-- Vital Information Tab --}}
    <div class="tab vital" data-group="primary" data-tab="vital">
      <section class="grid grid-2col">
        <div class="sidebar">
          {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
          use both the "grid" and "grid-Ncol" class where "N" can be any number
          from 1 to 12 and will create that number of columns. --}}
          <div class="abilities flexcol flex-block">
            {{#each data.abilities as |ability key|}}
            <div class="ability flexrow align-left">
              <label for="data.abilities.{{key}}.value" class="resource-label rollable flexlarge"
                data-roll-type="special" data-roll-stat="{{key}}"
                data-label="{{ability.label}}">{{ability.label}}</label>
              <input type="text" name="data.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number" />
              <div>
                &nbsp;({{ability.tot}})
              </div>
              <!-- <span class="ability-mod rollable" data-roll="d20+@abilities.{{key}}.mod" data-label="{{ability.label}}">{{numberFormat ability.mod decimals=0 sign=true}}</span> -->
            </div>
            {{/each}}
          </div>
          <div class="equipped flexcol align-left">
            {{#each equippable.weapon as |slot idx|}}
            <div class="flex-block">
              <div class="flexlarge flexrow resource-label" data-item-id="{{slot.item}}">
                <div>
                  {{localize slot.label}}
                </div>
                <div class="flexlarge rollable resource-label" data-roll-type="weapon" data-roll-subtype="attack"
                  data-item-id="{{slot.item}}">
                  &nbsp;({{localize "FOE.Attack"}})
                </div>
                <div class="flexlarge resource-label flexrow">
                  <div class="rollable" data-roll-type="weapon" data-roll-subtype="damage" data-item-id="{{slot.item}}">
                    ({{localize "FOE.Damage"}}
                  </div>
                  <div class="rollable" data-roll-type="weapon" data-roll-subtype="damage" data-crit="true"
                    data-item-id="{{slot.item}}">
                    {{localize "FOE.CritDamage"}})
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>{{localize "FOE.PickWeapon"}}</label>
                <select class="equipped-form" data-index="{{idx}}" value="{{slot.item}}">
                  {{selectOptions slot.options selected=slot.item}}
                </select>
              </div>
              {{#if slot.equippedItem}}
              <div class="item flexrow items-header flex-group-left">
                <div class="item-damage">{{localize "FOE.Damage"}}</div>
                <div class="item-range">{{localize "FOE.Range"}}</div>
                <div class="item-cost">{{localize "FOE.APCost"}}</div>
                <div class="item-firerate">{{localize "FOE.RateOfFire"}}</div>
                <div class="item-condition">{{localize "FOE.Condition"}}</div>
              </div>
              <div class="item flexrow align-left">
                <div class="item-damage">{{damageString slot.equippedItem}}</div>
                <div class="item-range">{{slot.equippedItem.data.range}}</div>
                <div class="item-cost">{{slot.equippedItem.data.cost}}</div>
                <div class="item-firerate">{{slot.equippedItem.data.firerate}}</div>
                <div class="item-condition">{{slot.equippedItem.data.condition}}</div>
              </div>
              {{/if}}
            </div>

            {{/each}}
          </div>
        </div>
      </section>
    </div>

    <div class="tab skills" data-group="primary" data-tab="skills">
      {{> "systems/foe/templates/actor/parts/actor-skills.html"}}
    </div>

    <div class="tab perks-traits" data-group="primary" data-tab="perks-traits">
      <!--no clue lol-->
    </div>

    {{!-- Inventory Tab --}}
    <div class="tab inventory" data-group="primary" data-tab="inventory">
      {{> "systems/foe/templates/actor/parts/actor-items.html"}}
    </div>

    {{!-- Magic Tab --}}
    <div class="tab magic" data-group="primary" data-tab="magic">
      {{> "systems/foe/templates/actor/parts/actor-spells.html"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab misc" data-group="primary" data-tab="misc">
      {{> "systems/foe/templates/actor/parts/actor-effects.html"}}
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="biography">
      {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to
      the rollData property. --}}
      {{editor content=data.biography target="data.biography" rollData=rollData button=true owner=owner
      editable=editable}}
    </div>

  </section>
</form>