<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
    <div class="header-fields">
      <div class="flexrow">
        <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>

        <div class="flexrow">
          <div class="resource flex-group-center">
            <label for="data.resources.hp.regen" class="resource-label">{{localize "FOE.Regen"}}</label>
            <div class="resource-content flexrow flex-center flex-between">
              <input type="number" name="data.resources.hp.regen" value="{{data.resources.hp.regen}}"
                data-dtype="Number" />
            </div>
          </div>
          {{!-- Level --}}
          <div class="resource flex-group-center">
            <label for="data.attributes.level.value" class="resource-label">{{localize "FOE.Level"}}</label>
            <div class="resource-content flexrow flex-center flex-between">
              <input type="number" name="data.attributes.level.value" value="{{data.attributes.level.value}}"
                data-dtype="Number" />
            </div>
          </div>
          {{!-- Crit --}}
          <div class="resource flex-group-center">
            <label class="resource-label">{{localize "FOE.Critical"}}</label>
            <div class="resource-content flexrow flex-center flex-between">
              <input type="number" disabled value="{{maxCrit}}" />
            </div>
          </div>
          {{!-- Fumble --}}
          <div class="resource flex-group-center">
            <label class="resource-label">{{localize "FOE.Fumble"}}</label>
            <div class="resource-content flexrow flex-center flex-between">
              <input type="number" disabled value="{{minFumble}}" />
            </div>
          </div>
        </div>
      </div>
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns. --}}
      <div class="resources flexrow">

        {{!-- "flex-group-center" is also defined in the _grid.scss file
        and it will add a small amount of padding, a border, and will
        center all of its child elements content and text. --}}
        {{#each data.resources as |resource key|}}
        <div class="resource flex-group-center">
          <label for="data.resources.{{key}}.value" class="resource-label">{{resource.label}}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="number" name="data.resources.{{key}}.value" value="{{resource.value}}" data-dtype="Number" />
            <div class="resource-sep">/</div>
            <input disabled type="number" name="data.resources.{{key}}.max" value="{{resource.max}}"
              data-dtype="Number" />
          </div>
          <div class="resource-percent">{{numberFormat resource.percent decimals=0 sign=false}}%</div>
        </div>
        {{/each}}
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item tab-link" data-tab="vital">Vital</a>
    <a class="item tab-link" data-tab="actions">{{localize "FOE.Actions"}}</a>
    <a class="item tab-link" data-tab="perks-traits">{{localize "FOE.PerksTraitsSkills"}}</a>
    <a class="item tab-link" data-tab="inventory">Inventory</a>
    <a class="item tab-link" data-tab="magic">Magic</a>
    <a class="item tab-link" data-tab="misc">{{localize "FOE.Miscellaneous"}}</a>
    <a class="item tab-link" data-tab="bonuses">Bonuses</a>
    <a class="item tab-link" data-tab="biography">Biography</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <div class="tab actions" data-group="primary" data-tab="actions">
      {{> "systems/foe/templates/actor/parts/actor-actions.html"}}
    </div>

    <div class="tab bonuses" data-group="primary" data-tab="bonuses">
      {{!-- {{> "systems/foe/templates/actor/parts/actor-bonuses.html"}} --}}
    </div>
    {{!-- Vital Information Tab --}}
    <div class="tab vital flexcol" data-group="primary" data-tab="vital">

      {{! SPECIAL Stats}}
      <table class="abilities flexrow flex-group-center">
        <tr>
          {{#each data.abilities as |ability key|}}
          <td class="ability">
            <h4 class="ability-name box-title rollable" data-roll-type="special" data-roll-stat="{{key}}">
              {{ability.label}}</h4>
            <div class="ability-total">
              {{ability.tot}}
            </div>
            <div class="flexrow">
              <input class="ability" title="{{localize 'FOE.BaseValue'}}" type="number"
                name="data.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number" />
              <input class="ability" title="{{localize 'FOE.TempBonus'}}" type="number"
                name="data.abilities.{{key}}.bonus.temp" value="{{ability.bonus.temp}}" data-dtype="Number" />
              <input class="ability" title="{{localize 'FOE.PermBonus'}}" type="number"
                name="data.abilities.{{key}}.bonus.perm" value="{{ability.bonus.perm}}" data-dtype="Number" />
            </div>
          </td>

          {{/each}}
        </tr>
      </table>

      {{! Body}}
      <div class="flexrow">
        {{! First Column}}
        <div>
          <div class="vital-block quick-skills">
            <h3>Quick Skills</h3>
            {{> "systems/foe/templates/actor/parts/actor-quick-skills.html"}}
          </div>
        </div>

        {{! Second Column}}
        <div class="flexcol">

          {{! Limbs}}
          <div class="vital-block limbs">
            <h3>Limb condition</h3>
            {{> "systems/foe/templates/actor/parts/actor-limbs.html"}}
          </div>

          {{! Resistances}}
          <div class="vital-block resistances">
            <h3>Resistances</h3>
            <table class="resistances">
              <tr>
                {{#each data.attributes.resistances as |resistance key|}}
                <td>{{resistance.label}}</td>
                {{/each}}
              </tr>
              <tr>
                {{#each data.attributes.resistances as |resistance key|}}
                <td><input class="resistances" type="number" data-dtype="Number"
                    name="data.attributes.resistances.{{key}}.value" value="{{resistance.value}}" /> </td>
                {{/each}}
              </tr>
            </table>
          </div>

          {{! Radiation}}
          <div class="vital-block radiation">
            <h3>Radation</h3>
            <table>
              <thead>
                <tr>
                  <th>{{localize "FOE.Rads"}}</th>
                  <th>{{localize "FOE.Resistance"}}</th>
                  <th>{{localize "FOE.Sickness"}}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><input type="number" data-dtype="Number" name="data.rads.value" value="{{data.rads.value}}" />
                  </td>
                  <td><input type="number" data-dtype="Number" name="data.rads.resistance"
                      value="{{data.rads.resistance}}" /></td>
                  <td><input type="text" data-dtype="String" name="data.rads.sickness" value="{{data.rads.sickness}}" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          {{! Poison}}
          <div class="vital-block radiation">
            <h3>{{localize "FOE.Poison"}}</h3>
            <table>
              <thead>
                <tr>
                  <th>{{localize "FOE.Resistance"}}</th>
                  <th>{{localize "FOE.Effect"}}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><input type="number" data-dtype="Number" name="data.poison.resistance"
                      value="{{data.poison.resistance}}" />
                  </td>
                  <td><input type="text" data-dtype="String" name="data.poison.effect" value="{{data.poison.effect}}" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="filler" style="height: 100%;">
          </div>
        </div>
        {{! Third Column}}
        <div class="flexcol">
          <div class="armor vital-block">
            <h3>{{localize "FOE.Armor"}}</h3>
            <table>
              <thead>
                <tr>
                  <th>{{localize "FOE.Type"}}</th>
                  <th>{{localize "FOE.Equipped"}}</th>
                  <th>{{localize "FOE.DT"}}</th>
                  <th>{{localize "FOE.DR"}}</th>
                  <th>{{localize "FOE.Condition"}}</th>
                </tr>
              </thead>
              <tbody>
                {{#each equippable.armor as |slot key|}}
                <tr>
                  <td>{{slot.label}}</td>
                  <td>
                    <select class="armor-slot" data-slot="{{key}}">
                      {{selectOptions slot.options selected=slot.item}}
                    </select>
                  </td>
                  <td>{{slot.equippedItem.data.DT}}</td>
                  <td>{{slot.equippedItem.data.DR}}</td>
                  <td>{{slot.equippedItem.data.condition}}</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>

          <div class="misc vital-block">
            <h3>{{localize "FOE.Miscellaneous"}}</h3>
            </tr>
            </table>
            <table width="100%">
              <col style="width: 80%;" />
              {{#each data.misc as |attribute key|}}
              <tr>
                <td>{{attribute.label}}</td>
                <td class="align-right">{{attribute.tot}}</td>
              </tr>
              {{/each}}
              <tr>
                <td>Buying multiplier</td>
                <td class="align-right"><input disabled type="number" data-dtype="Number"
                    name="data.skills.barter.selling" value="{{data.skills.barter.buying}}" /></td>
              </tr>
              <tr>
                <td>Selling multiplier</td>
                <td class="align-right"><input disabled type="number" data-dtype="Number"
                    name="data.skills.barter.buying" value="{{data.skills.barter.selling}}" /></td>
              </tr>
            </table>
          </div>
          <div class="filler" style="height: 100%;">
          </div>
        </div>

      </div>
    </div>
    </div>

    <div class="tab equipped" data-group="primary" data-tab="equipped">
      <div class="equipped flexcol align-left">
        {{> "systems/foe/templates/actor/parts/actor-equipped.html"}}
      </div>
    </div>

    <div class="tab perks-traits" data-group="primary" data-tab="perks-traits">
      {{> "systems/foe/templates/actor/parts/actor-perks-skills.html"}}
    </div>

    {{!-- Inventory Tab --}}
    <div class="tab inventory" data-group="primary" data-tab="inventory">
      {{> "systems/foe/templates/actor/parts/actor-items.html"}}
    </div>

    {{!-- Magic Tab --}}
    <div class="tab magic" data-group="primary" data-tab="magic">
      {{> "systems/foe/templates/actor/parts/actor-spells.html"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab misc" data-group="primary" data-tab="misc">
      {{> "systems/foe/templates/actor/parts/actor-effects.html"}}
    </div>

    {{!-- Biography Tab --}}
    <div class="tab flexrow" data-group="primary" data-tab="biography">
      {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data
      to
      the rollData property. --}}
      {{!-- <aside>
        <p>hi</p>
      </aside>
      <div>
        {{editor content=data.biography target="data.biography" rollData=rollData button=true owner=owner
        editable=editable}}
      </div> --}}
      <div class="characteristics flexcol">
        {{#each details as |detail key|}}
        <label>{{localize detail.label}}</label>
        {{#if detail.isCutieMark}}
        <img class="profile-img" src="{{detail.img}}" data-edit="data.details.{{key}}.img" title="{{actor.name}}"
          height="100" width="100" />
        {{/if}}
        <input name="data.details.{{key}}.value" value="{{detail.value}}" />
        {{/each}}
      </div>
      <div class="biography">
        {{editor content=data.details.biography.value target="data.details.biography.value" button=true owner=owner
        editable=editable rollData=rollData}}
      </div>
    </div>

  </section>
</form>