@import '../utils/variables';

table.abilities {
    flex: 0 0 100px;
    border-collapse: collapse;
    padding: 2px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 2px;
    background-color: $elem-background-color;
}

td.ability {
    border-style: groove;
    border-color: #c7c7c7;
    border-width: 1px;
    border-top: none;
    border-bottom: none;
    border-collapse: collapse;
    padding: 1px;
    min-width: 100px;
}

.ability {
    &-name {
        font-weight: 700;
        font-size: 17px;
    }
    &-total {
        font-weight: 700;
        font-size: 22px;
    }
}

.skill-label {
    font-weight: 700;
}


table.quick-skills {
    // flex: 0 0 200px;
    gap: 0px;
    margin: 2px;
    background-color: $elem-background-color;
    border-style: none;
    // border-color: #c7c7c7;
    // border-width: 1px;
    border-collapse: collapse;
    padding: 5px;
    td th {
        padding: 0.1em;
        // padding-left: 0.25em;
        // padding-right: 0.25em;
    }
}

// div.limbs {
//     max-height: 340px;
// }

div.quick-skills {
    flex: 0 0 200px;
    max-height: 463px;
}

div.resistances {
    max-height: 80px;
}

thead {
    background: rgba(0, 0, 0, 0.05);
    color: #191813;
    text-shadow: none;
}

table.skills, table.quick-skills {
    gap: 0px;
    border: none;
    td {
        padding: 0.1em;
    }
    th {
        padding: 0.1em;
    }
}

input.skills {
    max-height: 14px;
}

.vital-block {
    margin: 2px;
    border-color: #c7c7c7;
    border-style: groove;
    border-width: 1px;
    table {
        padding: 0px;
        border: none;
    }
}