<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="attributes">Attributes</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      <label for="data.description">{{localize "FOE.Description"}}</label>
      <textarea name="data.description">{{data.description}}</textarea>
      <table>
        <thead>
          <tr>
            <th>{{localize "FOE.Level"}}</th>
            <th>{{localize "FOE.Enabled"}}</th>
            <th>{{localize "FOE.Description"}}</th>
          </tr>
        </thead>
        <tbody>
          {{#each levels as |level key|}}
          <tr>
            <td>
              <label>{{level.label}}</label>
            </td>

            <td>
              <input data-dtype="Bool" type="checkbox" name="data.levels.{{key}}.enabled" {{#if
                level.enabled}}checked{{/if}}>
            </td>
            <td>
              <textarea name="data.levels.{{key}}.description">{{level.description}}</textarea>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{!-- As you add new fields, add them in here! --}}
      <div class="grid grid-2col">
        {{#each attributes as |attribute attributeKey|}}
        <div class="resource">
          <label class="resource-label" for="data.{{attributeKey}}">{{localize attribute.label}}</label>
          <input type="{{attribute.inputType}}" data-dtype="{{attribute.type}}" name="data.{{attributeKey}}"
            value="{{lookup ../data attributeKey}}" />
        </div>
        {{/each}}
      </div>
    </div>
  </section>
</form>